@page "/Prioridades/Create"
@inject PrioridadesServices prioridadesServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="prioridad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card-header bg-primary text-white text-center p-2 rounded">
        <h3 style="font-weight: bold;" class="md-3 font-weight: bold;">Registro de Prioridades</h3>
    </div>
    <div class="card-body">
        @*  PrioridadId *@
        <div class="row">
            <div class="col-md-10 mb-5">
                <label for="PrioridadId" class="form-label"><strong>PrioridadId:</strong></label>
                <div class="input-group">
                    <div style="width: 40%; height: 1mm">
                        <InputNumber @bind-Value="prioridad.PrioridadId" class="form-control" style="font-size: 0.8rem;" aria-labelledby="botonbuscar" />
                    </div>
                </div>
            </div>
        </div>
        @*   Descripcion *@
        <div class="mb-3">
            <label for="Descripcion" class="form-label"><strong>Descripción:</strong></label>
            <InputText @bind-Value="prioridad.Descripcion" class="form-control" />
            <ValidationMessage For="@(() => prioridad.Descripcion)" />
        </div>
        @*   Tiempo *@
        <div>
            <label for="Tiempo" class="form-label"><strong>Tiempo:</strong></label>
            <InputText @bind-Value="prioridad.Tiempo" type="time" class="form-control"/>
            <ValidationMessage For="@(()=>prioridad.Tiempo)" />
        </div>
        <div class="card-footer align; justify-content-center">
            <div class="input-group">
                <button type="button" class="btn btn-outline-secondary ml-2"@onclick="Nuevo"><span class="bi bi-plus"></span>Nuevo</button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle"></span>Guardar</button>
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Volver"><span class="bi bi-box-arrow-left"></span>Volver</button>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades? prioridad { get; set; } = new Prioridades();
    private bool existe = false;
    //Metodo Nuevo
    public async Task Nuevo()
    {
        prioridad = new Prioridades();
        existe = false;
    }
    //Metodo Buscar
    public async Task Buscar()
    {
        existe = false;
        var encontrado = await prioridadesServices.Buscar(prioridad.PrioridadId);
        if (encontrado != null)
        {
            prioridad = encontrado;
        }
        else
        {
            Nuevo();
        }
    }
    //Metodo Validar
    public async Task<bool> Validar()
    {
        existe = await prioridadesServices.Existe(PrioridadId);
        return !existe;
    }
    //Metodo Guardar
    public async Task Guardar()
    {
        if (!await Validar())
        {
            return;
        }
        var guardado = await prioridadesServices.Guardar(prioridad);
        if (guardado)
        {
            Nuevo();
        }
    }
    //Metodo Volver
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Prioridades/Index");
    }
}
