@page "/Prioridades/Details"
@page "/Prioridades/Details/{PrioridadId:int}"
@inject PrioridadesServices prioridadesServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles Prioridades</PageTitle>
@if (prioridad != null)
{
    <div class="container">
        <div class="card show-header">
            <div class="card-header bg-primary text-white text-center p-2 rounded">
                <h3 class="text-center"><strong>Detalles Prioridad</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>PrioridadId:</strong>@prioridad.PrioridadId</li>
                                <li><strong>Descripci&oacute;n:</strong>@prioridad.Descripcion</li>
                                <li><strong>Tiempo:</strong>@prioridad.Tiempo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary ml-2" @onclick="Volver"><span class="bi bi-box-arrow-left"></span>Volver</button>
        </div>
    </div>
}
else
{
    <p> No encontrado</p>
}
@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades? prioridad { get; set; } = new Prioridades();
    //Metodo onitialize
    protected override async Task OnInitializedAsync()
    {
        prioridad = await prioridadesServices.Buscar(PrioridadId);
    }
    //Metodo Volver
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Prioridades/Index");
    }
}
