@page "/TiposTecnicos/Delete"
@page "/TiposTecnicos/Delete/TipoId={TipoId:int}"
@inject TiposTecnicosServices tiposTecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer


    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center p-3 rounded">
                <h3><strong>Eliminar el Tipos T&eacute;cnico</strong></h3>
            </div>
            <div class="card-header align-content-center text-center">
               <h3 class="text-danger">¿Est&aacute; Seguro Que Quiere Eliminar El T&eacute;cnico?</h3>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card shadow-lg">
                            <div class="card-header bg-primary text-white">
                            <h3 class="text-center"><strong>Eliminar el Tipos T&eacute;cnico</strong></h3>
                            </div>

                            <div class="card-body">
                                <div class="bolder-primary border-2 bolder">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                  <ul class="list-unstyled">
                                                     <li><strong>TipoId:</strong>@tiposTecnicos.TipoId</li>
                                                     <li><strong>Descripci&oacute;n:</strong>@tiposTecnicos.Descripcion</li>
                                                  </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-outline-danger ml-2" @onclick="EliminarTiposTecnico"><span class="bi bi-plus"></span>Eliminar</button>
            <button type="button" class="btn btn-outline-primary ml-2" @onclick="Volver"><span class="bi bi-box-arrow-left"></span>Volver</button>
        </div>
    </div>
@if(tiposTecnicos ==null)
{
    <p>No encotrado el tecnico</p>
}

@code {
    [Parameter]
    public int TipoId { get; set; }
    public TiposTecnicos? tiposTecnicos { get; set; } = new TiposTecnicos();
    private bool existe = false;

    protected override async Task OnInitializedAsync()
    {
        if (TipoId != 0)
        {
            tiposTecnicos = await tiposTecnicosServices.Buscar(TipoId);
        }
    }

    public async Task EliminarTiposTecnico()
    {
        if(TipoId == 0 || tiposTecnicos == null)
        {
            return;
        }
        if(await tiposTecnicosServices.Eliminar(TipoId))
        {
            Volver();
        }
    }
    public async Task Volver()
    {
        navigationManager.NavigateTo("/TiposTecnicos/Index ");
    }
}

