@page "/TiposTecnicos/Index"
@inject TiposTecnicosServices tiposTecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Tipos Tecnicos</PageTitle>
<EditForm Model="ListaTiposTecnicos" class="card shadow-lg bolder p-3 rounded">
    <div class="card-header bg-primary text-white text-center p-2 rounded">
        <h3 style="font-weight: bold;" class="md-3 font-weight: bold;">Consulta de TiposTecnicos</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-15">
                <div class=" col-md-15 text-end"> 
                    <a href=" /TiposTecnicos/Create" class="btn btn-outline-success" type="button">
                        <i class="bi bi-pencil-square"></i>
                        Crear
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="table table-responsive">
        <table class=" table table-bordered text-center">
            <thead class="bg-primary text-white">
                <tr>
                    <th>TipoTecnicoId</th>
                    <th>Descripci&oacute;n</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in ListaTiposTecnicos)
                {
                    <tr>
                        <td>@t.TipoTecnicoId </td>
                        <td>@t.Descripcion</td>
                        <td>
                            <a href="/TiposTecnicos/Details/@t.TipoTecnicoId " class="btn btn-outline-primary">
                                <i class="bi bi-eye"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/TiposTecnicos/Edit/@t.TipoTecnicoId " class="btn btn-outline-secondary">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger ml-2" @onclick="()=>Eliminar(t.TipoTecnicoId )">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <p>Total:@ListaTiposTecnicos.Count</p>
    </div>
</EditForm>

@code {
    public List<TiposTecnicos> ListaTiposTecnicos { get; set; } = new List<TiposTecnicos>();
    protected override async Task OnInitializedAsync()
    {
        ListaTiposTecnicos = await tiposTecnicosServices.Listar(t => true);
    }

    private async Task Eliminar(int TipoTecnicoId)
    {
        navigationManager.NavigateTo($"/TiposTecnicos/Delete/TipoTecnicoId={TipoTecnicoId}");
    }
}
