@page "/Tecnicos/Editar"
@page "/Tecnicos/Editar/{TecnicoId:int}"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="tecnicos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
 
    @* <div style="text-align:right"> *@
    <div style="width: 100%; text-align: right;">
        <button style="display: inline-block;" class="bi bi-box-arrow-left" @onclick="Retroceder">Volver</button>
        
    </div>

    <div class="card">
        <div class="card-header  text-center py-2 rounded">
            <h3> <i class="fas fa-clipboard-list"></i> Modificar T&eacute;cnico</h3>
        </div>

        <div class="card-body">
            <!-- TecnicoId -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="TecnicoId" class="form-label">T&eacute;cnicoId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="tecnicos.TecnicoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                        <ValidationMessage For="@(() => tecnicos.TecnicoId)" />
                    </div>
                </div>
            </div>

            <!-- Nombres -->
            <div class="mb-3">
                <label for="Nombres" class="form-label">Nombres:</label>
                <InputText @bind-Value="tecnicos.Nombres" class="form-control" />
                <ValidationMessage For="@(() => tecnicos.Nombres)" />
                @if (Existe)
                {
                    <T class="text-danger">Ya existe una persona que tiene este nombres.</T>
                }
            </div>
            <!-- Sueldohora -->
            <div class="mb-3">
                <label> Sueldohora </label>
                <InputNumber @bind-Value="tecnicos.Sueldohora" class="form-control" />
                <ValidationMessage For="@(() => tecnicos.Sueldohora)" />
            </div>
        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span class="bi bi-trash-fill"></span> Eliminar </button>
                
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos tecnicos { get; set; } = new Tecnicos();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            await Buscar();
        }
    }

    public async Task Nuevo()
    {
        tecnicos = new Tecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tecnicoEncontrado = await tecnicoService.Buscar(TecnicoId);

        if (tecnicoEncontrado != null)
        {
            tecnicos = tecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }
    public async Task Guardar()
    {
        if (await Validar())
        {
            return;
        }

        var guardo = await tecnicoService.Guardar(tecnicos);
        if (guardo)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicoService.Eliminar(tecnicos.TecnicoId);
        Nuevo();
    }

    private async Task Retroceder()
    {
        navigationManager.NavigateTo("/Tecnicos/index");
    }

    public async Task<bool> Validar()
    {
        var listaTecnicos = await tecnicoService.Listar(T => T.Nombres.ToLower() == tecnicos.Nombres.ToLower() && T.TecnicoId != tecnicos.TecnicoId);
        Existe = listaTecnicos.Any();
        return Existe;
    }
}