@page "/"

<PageTitle>Home</PageTitle>

<div class="card shadow-lg bolder p-3 round"style="background-color: white;">
   <div class="card-header bg-primary text-white text-center p-2 rounded">
        <h3><strong>Bienvenido A Mi Consulta De T&eacute;cnicos </strong></h3>
        <h3 >Jose Daniel Rivera Ortega  (2021-0422)</h3>
   </div>
</div>


