@page "/TipoTecnicos/Create"
@inject NavigationManager navigationManager
@inject TipoTecnicoService tipotecnicoService
@rendermode InteractiveServer

<PageTitle>Registro de TipoTecnicos</PageTitle>
<EditForm Model="tipoTecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <Toasts class="p-3" Messages="MensajeToast" Placement="ToastsPlacement.TopRight" />

    @* <div style="text-align:right"> *@
    <div style="width: 100%; text-align: right;">
        <button style="display: inline-block;" class="bi bi-box-arrow-left" @onclick="Retroceder">Volver</button>
    </div>

    <div class="card">
        <div class="card-header text-center py-2 rounded">
            <h3 style="font-weight: bold;" class="mb-0">Registro de TipoTecnicos</h3>
        </div>
        <div class="card-body">
            <!-- TopoId -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="TipoId" class="form-label">TipoId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="tipoTecnico.TipoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                        <ValidationMessage For="@(() => tipoTecnico.TipoId)" />
                    </div>
                </div>
            </div>
            <!-- Descripcion -->
            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripcion:</label>
                <InputText @bind-Value="tipoTecnico.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => tipoTecnico.Descripcion)" />
                @if (Existe)
                {
                    <T class="text-danger">Ya existe una persona que tiene este nombre.</T>
                }
            </div>
            <!-- Incentivo -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Incentivo" class="form-label">Incentivo:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="tipoTecnico.Incentivo" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                        <ValidationMessage For="@(() => tipoTecnico.Incentivo)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">

                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span class="bi bi-trash-fill"></span> Eliminar </button>

            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int TipoId { get; set; }

    public TiposTecnicos tipoTecnico { get; set; } = new TiposTecnicos();
    List<ToastMessage> MensajeToast = new List<ToastMessage>();
    private bool Existe = false;

    public async Task Nuevo()
    {
        tipoTecnico = new TiposTecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tipoTecnicoEncontrado = await tipotecnicoService.Buscar(tipoTecnico.TipoId);

        if (tipoTecnicoEncontrado != null)
        {
            tipoTecnico = tipoTecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task Guardar()
    {
        if (await Validar())
        {
            return;
        }

        var guardo = await tipotecnicoService.Guardar(tipoTecnico);
        if (guardo)
        {
            Mensaje(ToastType.Success, "Guardado correctamente el tipos tecnicos.");
            Nuevo();
            
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tipotecnicoService.Eliminar(tipoTecnico.TipoId);
        Nuevo();
        Mensaje(ToastType.Success, "Eliminado correctamente el tipos tecnicos.");
    }

    private async Task Retroceder()
    {
        navigationManager.NavigateTo("/TiposTecnicos/index");
    }

    public async Task<bool> Validar()
    {
        var listaTipoTecnicos = await tipotecnicoService.Listar(T => T.Descripcion.ToLower() == tipoTecnico.Descripcion.ToLower() && T.TipoId != tipoTecnico.TipoId);
       Existe = listaTipoTecnicos.Any();
        return Existe;
    }

    private ToastMessage CreateToastMessage(ToastType toastType, string mensaje)
    => new ToastMessage
    {
        Type = toastType,
        Title = "Notificación",
        HelpText = $"{DateTime.Now}",
        Message = mensaje,
    };

    private void Mensaje(ToastType toastType, string mensaje)
    {
        MensajeToast.Add(CreateToastMessage(toastType, mensaje));
    }
}