@page "/TiposTecnicos/Editar"
@page "/TiposTecnicos/Editar/{TipoId:int}"
@inject TipoTecnicoService tipoTecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="tipoTecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    @* <div style="text-align:right"> *@
    <div style="width: 100%; text-align: right;">
        <button style="display: inline-block;" class="bi bi-box-arrow-left" @onclick="Retroceder">Volver</button>

    </div>

    <div class="card">
        <div class="card-header  text-center py-2 rounded">
            <h3><i class="fas fa-clipboard-list"></i> Modificar tipoTecnico</h3>
        </div>

        <div class="card-body">
            <!-- TipoId -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="TipoId" class="form-label">TipoId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="tipoTecnico.TipoId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                        <ValidationMessage For="@(() => tipoTecnico.TipoId)" />
                    </div>
                </div>
            </div>

            <!-- Descripcion -->
            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripcion:</label>
                <InputText @bind-Value="tipoTecnico.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => tipoTecnico.Descripcion)" />

                @if (Existe)
                {
                    <p class="text-danger">Ya existe una persona que tiene esta en la descripcion.</p>
                }
            </div>
            <!-- Incentivo -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Incentivo" class="form-label">Incentivo:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="tipoTecnico.Incentivo" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                        <ValidationMessage For="@(() => tipoTecnico.Incentivo)" />
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span class="bi bi-trash-fill"></span> Eliminar </button>

            </div>
        </div>

    </div>
    
</EditForm>

@code {
    [Parameter]
    public int TipoId { get; set; }

    public TiposTecnicos tipoTecnico { get; set; } = new TiposTecnicos();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        if (TipoId != 0)
        {
            await Buscar();
        }
    }

    public async Task Nuevo()
    {
        tipoTecnico = new TiposTecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tipoTecnicoEncontrado = await tipoTecnicoService.Buscar(TipoId);

        if (tipoTecnicoEncontrado != null)
        {
            tipoTecnico = tipoTecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task Guardar()
    {
        if (await Validar())
        {
            return;
        }

        var guardo = await tipoTecnicoService.Guardar(tipoTecnico);
        if (guardo)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tipoTecnicoService.Eliminar(tipoTecnico.TipoId);
         Nuevo();
    }

    private async Task Retroceder()
    {
        navigationManager.NavigateTo("/TiposTecnicos/index");
    }

    public async Task<bool> Validar()
    {
        var listaTiposTecnicos = await tipoTecnicoService.Listar(T => T.Descripcion.ToLower() == tipoTecnico.Descripcion.ToLower() && T.TipoId != tipoTecnico.TipoId);
        Existe = listaTiposTecnicos.Any();
        return Existe;
    }
}
