@page "/Tecnicos/Create"
@inject TecnicosServices tecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="tecnico" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="card shadow-lg border-0 rounded" style="background-color: white;">
        <div class="card-header bg-primary text-white text-center p-2 rounded">
            <h3 style="font-weight: bold;" class="md-4 font-weight: bold; ">Registro  T&eacute;cnicos</h3>
        </div>

        <div class="card-body">
            @* TecnicoId *@
            <div class="row">
                <div class="col-md-10 mb-5">
                    <label for="TecnicoId" class="form-label">T&eacute;cnicoId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1mm;">
                            <InputNumber @bind-Value="tecnico.TecnicoId" class="form-control" style="font-size: 0.8rem;" aria-describedby="bottonbuscar"/>
                        </div>
                    </div>
                </div>
            </div>

          @*   Nombres *@
          <div class="mb-5">
                <label for="Nombres" class="form-label">Nombres:</label>
                <InputText @bind-Value="tecnico.Nombres" class="form-control" />
                <ValidationMessage For="(()=>tecnico.Nombres)"/>
          </div>
            @*   SueldoHora *@
            <div class="mb-5">
                <label for="SueldoHora" class="form-label">SueldoHora:</label>
                <InputNumber @bind-Value="tecnico.SueldoHora" class="form-control" />
                <ValidationMessage For="(()=>tecnico.SueldoHora)" />
            </div>
        </div>
        <div class="card-footer:  bg-light d-flex: justify-content-center mt-3">
            <div class="btn-group">
                <button style="button" class="btn btn-outline-secondary ml-2"@onclick="Nuevo"><span class="bi bi-plus"></span>Nuevo</button>
                <button style="submit" class="btn btn-outline-success ml-2" @onclick="Guardar"><span class="bi bi-check-circle-fill"></span>Guardar</button>
                <i style="button" href="/Tecnicos/Index" class="btn btn-outline-primary" @onclick="Volver"><span class="bi bi-box-arrow-left"></span>Volver</i>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public int TecnicoId{ get; set; }
    public Tecnicos? tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;

    public async Task Nuevo()
    {
        tecnico = new Tecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var TecnicoEncontrado = await tecnicosServices.Buscar(tecnico.TecnicoId);
        if(TecnicoEncontrado != null)
        {
            tecnico = TecnicoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task<bool> Validar()
    {
        Existe = await tecnicosServices.Existe(tecnico.TecnicoId ,tecnico.Nombres);
        return !Existe;
    }

    public async Task Guardar()
    {
        if(!await Validar())
        {
            return;
        }
        var guardado = await tecnicosServices.Guardar(tecnico);
        if (guardado)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await tecnicosServices.Eliminar(tecnico.TecnicoId);
        Nuevo();
    }

    public async Task Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}
