@page "/Tecnicos/Delete"
@page "/Tecnicos/Delete/TecnicoId={TecnicoId:int}"
@inject TecnicosServices tecnicosServices
@inject TiposTecnicosServices tiposTecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<div class="container">
    <div class="card shadow-header">

        <div class="card-header bg-primary text-white text-center p-2 rounded">
            <h3><strong>Eliminar El T&eacute;cnico</strong></h3>
        </div>

        <div class="card-footer text-center">
            <h3>¿Est&aacute; Seguro Que Quiere Eliminar El T&eacute;cnico?</h3>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <div class="card-header bg-primary text-white text-center p-2 rounded">
                                <h3 class="text-center"><strong>¡Datos Del T&eacute;cnico!</strong></h3>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="bolder-primary border-2 bolder">
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-md-8 ">
                                            <ul class="list-unstyled">
                                                <li><strong>T&eacute;cnicoId:</strong>@tecnico.TecnicoId</li>
                                                <li><strong>Nombres:</strong>@tecnico.Nombres</li>
                                                <li><strong>SueldoHora:</strong>@tecnico.SueldoHora</li>
                                                <li><strong>Descripci&oacute;n:</strong>@tiposTecnico.Descripcion</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-center">
        <button type="button" class="btn btn-outline-danger ml-2" @onclick="EliminarTecnico"><i class="bi bi-trash"></i>Eliminar</button>
        <button type="button" class="btn btn-outline-primary ml-2" @onclick="Volver"><i class="bi bi-box-arrow-left"></i>Volver</button>
    </div>
</div>

@if (tecnico == null)
{
    <p>Total no entrado T&eacute;cnico.count</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? tecnico { get; set; } = new Tecnicos();
    public TiposTecnicos? tiposTecnico { get; set; } = new TiposTecnicos();
    private bool Existe = false;

    //El Metodo OnInitialized
    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            tecnico = await tecnicosServices.Buscar(TecnicoId);
            tiposTecnico = await tiposTecnicosServices.Buscar(tecnico.TipoTecnicoId);
        }
    }
    //El Metodo EliminarTecnico
    private async Task EliminarTecnico()
    {
        if (TecnicoId == 0 || tecnico == null)
        {
            return;
        }

        if (await tecnicosServices.Eliminar(TecnicoId))
        {
            Volver();
        }
    }
    //El Metodo Volver
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}

