@page "/Tecnicos/Delete"
@page "/Tecnicos/Delete/TecnicoId={TecnicoId:int}"
@inject TecnicosServices tecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-white text-center p-2 rounded">
                <h3><strong>Eliminar Tecnicos</strong></h3>
            </div>
            <div class="card-footer">
                <h3 class="text-center">Esta Seguro que quiere eliminar el tecnico?</h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                 <h3 class="text-center"><strong>Datos Tecnicos!</strong></h3>
                            </div>

                            <div class="card-body">
                                <div class="bolder-primary border-2 bolder">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                     <li><strong>TecnicoId:</strong>@tecnico.TecnicoId</li>
                                                     <li><strong>Nombres:</strong>@tecnico.Nombres</li>
                                                     <li><strong>SueldoHora:</strong>@tecnico.SueldoHora</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <div class="card-footer">
          <button style="button" class="btn btn-outline-danger ml-2"@onclick="EliminarTecnico"><i class="bi bi-trash-circle-fill"></i>Eliminar</button>
          <button style="button" href="/Tecnicos/Index" class="btn btn-outline-primary ml-2"@onclick="Volver"><i class="bi bi-box-arrow-left"></i>Volver</button>
       </div>
    </div>
@if(tecnico ==null)
{
    <p>Total de Tecnicos.count</p>
}
@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            tecnico = await tecnicosServices.Buscar(TecnicoId);
        }
    }

    private async Task EliminarTecnico()
    {
        if(TecnicoId == 0 || tecnico == null)
        {
            return;
        }
        if(await tecnicosServices.Eliminar(TecnicoId))
        {
            Volver();
        }
    }

    public async Task Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}

