@page "/Tecnicos/Details"
@page "/Tecnicos/Details/{TecnicoId:int}"
@inject TecnicosServices tecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles  del T&eacute;cnicos</PageTitle>

@if(tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-white text-center p-2 rounded">
                <h3 class="text-center"><strong>Detalles del T&eacute;cnico</strong></h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>T&eacute;cnicoId:</strong>@tecnico.TecnicoId</li>
                                <li><strong>Nombres:</strong>@tecnico.Nombres</li>
                                <li><strong>SueldoHora:</strong>@tecnico.SueldoHora</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary ml-2" @onclick="Volver"><i class="bi bi-box-arrow-left"></i>Volver</button>
        </div>
    </div>
}
else
{
    <p>Total no encontrado T&eacute;cnico.</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? tecnico { get; set; } = new Tecnicos();
    private bool Existe = false;
    //El Metodo OnInitialized
    protected override async Task OnInitializedAsync()
    {
            tecnico = await tecnicosServices.Buscar(TecnicoId);
    }
    //El Metodo Volver
    public async Task Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}
